.SWCard{
    justify-content: center;
    display: flex;
    //flex: 1 1 0px;
   
    border: solid 2px rgb(6, 172, 172);
    border-radius: 10%;
    box-shadow: 0px 0px 10px 10px rgb(11 177 169 / 50%);
    background-color:black;
    flex-direction: column;

    .title{
        display: flex;
        color: #FF004F;
        font-weight: bold;
        height: 1em;
        justify-content: center;
    }
    .SWCard-image-container{
        display: flex;
        justify-content: center;

        .SWCard-image{
            width: 200px;
        }
    }
    
}

.SWCard:hover{
     transition: all .3s ease-in;
     box-shadow: 0px 0px 20px 20px rgb(11 177 169 / 50%);
    
}