name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:
  
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*

    - name: Install dependencies
      uses: bahmutov/npm-install@v1
      with:
          working-directory: pw
      
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps 
      working-directory: pw
      
    - name: Run Playwright tests
      run: ENV=pipe npx playwright test
      working-directory: pw
      
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: pw/playwright-report/
        retention-days: 30

    - name: Send Email
      uses: hilarion5/send-mail@v1
      if: failure()
      with:
        smtp-server: smtp.gmail.com
        smtp-port: 465
        smtp-secure: true
        from-email: ${{ secrets.GMNM }}
        to-email: ben.balogh98@gmail.com
        username: ${{ secrets.GMNM }}
        password: ${{ secrets.GMPW }}
        subject: Test Email
        body: This is a test email sent from GitHub Actions.
        html: |
          <h1>This is a test email</h1>
          <p>Test Paragraph</p>
