name: Playwright Docker Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  playwright:
    runs-on: ubuntu-latest

    container:
      image: mcr.microsoft.com/playwright:v1.54.1-noble
      options: --user 1001

    defaults:
      run:
        working-directory: pw

    steps:
      - uses: actions/checkout@v5

      - name: Install dependencies
        run: npm ci

      - name: Run Playwright tests
        run: npx playwright test

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: pw/playwright-report
